{% extends "/projects/projects.html" %}
{% block head %}{% endblock %}
{% block title %}Autonomous Golf Cart{% endblock %}
{% block content %}
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <h1>Autonomous Golf Cart</h1>
                        <p><b>Timeline:</b> October 2015 - May 2016
                        <p><b>Contact:</b> Joshua Price - jprice [at] berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>We love autonomous vehicles! This project group is equipping a golf cart with the mechanical and electrical equipment necessary to control it via electrical signals. They will be using vision processing and advanced sensors to map the vehicle's surroundings so it can be programmed to avoid obstacles and follow paths. If you see a golf cart driving itself around campus, it's probably the work of this project group!</p>
                        <p>This project is currently accepting more members, so fill out this <a href="https://docs.google.com/a/berkeley.edu/forms/d/139mES2-_GEeeb3bLxqVBDqTaxyhWpBPkGj6PbjMbDiU/viewform">form</a> if you are interested in joining and Josh will get in contact with you.</p>
                    </div>
                </div>
            s</div>
        </div>
{% endblock %}