RewriteEngine On
RewriteBase /


RewriteCond %{QUERY_STRING} !(^|&)finalRedir=true($|&)
RewriteCond %{REQUEST_URI} ^/run\.fcgi/(.*)
RewriteRule ^ /%1 [R=301,L,QSA]

RewriteCond %{QUERY_STRING} !(^|&)finalRedir=true($|&)
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R=301,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ run.fcgi/$1?finalRedir=true [QSA,L]
