{% extends "/related/clubs/clubs.html" %}
{% block head %}{% endblock %}
{% block title %}IEEE Micromouse{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>IEEE Micromouse</h1><br>
                        <p><b>Website: </b><a href="https://ieee.berkeley.edu/" target="_blank"> ieee.berkeley.edu</a></p>
                        <p><b>Contact: </b>ieee [at] berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>The Institute of Electrical and Electronics Engineers (IEEE) is an international organization that aims to further awareness, growth, and organization of activities in the electrical engineering and computer science community.</p>
                        <p>In their annual Micromouse competition, students collaborate to create and build a mouse that autonomously navigates through a maze. The mouse must be self-contained, battery-operated, and discover routes with brief run times. Micromouse must also avoid collisions with maze walls. Official rules for the competition can be found <a href="http://micromouseusa.com/?page_id=23" target="_blank">here</a>.</p>
                        <p><b>Media:</b></p>
                        <p><a href="https://www.youtube.com/watch?v=hGNxXqQgHYY" target = "_blank">2015 Micromouse USA Final</a></p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}