{% extends "/related/clubs/clubs.html" %}
{% block head %}{% endblock %}
{% block title %}Pioneers in Engineering{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Pioneers in Engineering (PiE)</h1><br>
                        <p><b>Website: </b><a href="https://pioneers.berkeley.edu/" target="_blank"> pioneers.berkeley.edu</a></p>
                        <p><b>Contact:</b>leadership [at] pioneers.berkeley.edu</p>
                        <p><b>Description:</b></p>
			<p>Pioneers in Engineering (PiE) is a STEM (Science, Technology, Engineering, Math) outreach student group at UC Berkeley. Their goal is to inspire under-served high school students in the Bay Area to pursue engineering and higher education, by engaging them in robotics and other hands-on engineering projects.</p>

                        <p><i>PiE Robotics Competition</i> - Pioneers in Engineering organizes an annual 8-week robotics competition during the Spring that provides high school students with an immersive engineering challenge. To host the competition, PiE members design the games, provide mentorship, and develop the robotics kit that are used by the +350 high school students. The competition costs each team only $100, which is significantly more affordable and accessible than comparable robotics competitions.</p>

                        <p><i>PiE PREP</i> - This is PiE’s high school mentorship program during the Fall, in which UC Berkeley students design and teach hands-on and exciting STEM lessons - from creating motion activated catapults to building simple robotic arms. To become a PiE Prep mentor, Cal students take the PiE Prep DeCal (a student-taught class), which teaches them what they need to know to lead successful programs at the school they mentor.</p>

                        <p><b>Media:</b></p>
			<p><a href="https://docs.google.com/presentation/d/1KF1FAsCuKvHUKscRc_ESqShYzCyjJBTbqdbACasEM_s/edit#slide=id.gbb56edada_0_3" target = "_blank">List of PiE Projects Fall 2015</a></p>
                        <p><a href="https://www.youtube.com/watch?v=VBMt-o8SAx0" target="_blank">PiE Robotics Competition 2015 Wrap-Up</a></p>
                        <p><a href="https://www.youtube.com/watch?v=lB6kUMzXhrM" target = "_blank">2015 Competition Game: Fast Food Frenzy</a></p>                       
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
