{% extends "/related/clubs/clubs.html" %}
{% block head %}{% endblock %}
{% block title %}UAVs @ Berkeley{% endblock %}
{% block content %}
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>UAVs @ Berkeley (UAV-B)</h1><br>
                        <p><b>Facebook: </b><a href="https://www.facebook.com/UAVs-at-Berkeley-744577125668412/" target="_blank"> UAVs@Berkeley</a></p>
                        <p><b>Contact: </b>David Hooper - davidhooper4@berkeley.edu</p>
                        <p><b>Description: </b></p>
            		<p>UAVs @ Berkeley (also known as UAVA-B) is a club dedicated to all things drone-related from building, to flying, to programming them and beyond. Anyone with interests in drones and quadcopters is welcome to join and participate in the building and flying events.</p>
                        <p>Events include regular Build Days where members work on building a drone from scratch and also #FlyDay meetups every other Friday at Cesar Chavez Park. The #FlyDay meetups are co-hosted with 3D Robotics (3DR), a local Bay Area drone company, and welcome all UAV enthusiasts, hackers, engineers, and hobbyists to learn more about drones. Engineers from 3DR test out their Solo “Smart Drone,” providing unique opportunities to network with those in industry in addition to
learning about UAVs.</p>
			<p>UAVs @ Berkeley is planning to bring a FPV (first person view) drone racing event to campus where small droner units can fly against each other at high speeds. Special FPV goggles allow real time images from the drone to be received and competitions such as the US National Drone Racing Championships have taken off.  </p>
                        <p><b>Media:</b></p>
                        <p><a href="https://youtu.be/0zbsTt6Tkzk" target = "_blank">US National Drone Racing Championships</a> (2015)</p>
			<p><a href="https://www.facebook.com/744577125668412/videos/755030691289722/" target = "_blank">Quadcopter Flight Test</a><p>
            </div>
                </div>
            </div>
        </div>
{%endblock%}
