{% extends "/related/clubs/clubs.html" %}
{% block head %}{% endblock %}
{% block title %}Clubs{% endblock %}
{% block content %}
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">     
                        <h1>Other Clubs at Cal</h1>
                        <p>As you may have guessed, UC Berkeley is home to several other Robotics based organizations on campus. We have compiled a list of some of these Robotics Organizations so that if you wish to get involved in other robotics-related areas, you can join them.</p>
                        <p>We are just one tiny part of this expansive and amazing community of roboticists at UC Berkeley; click on the options to the left to learn about some other UC Berkeley robotics groups that we admire.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}