{% extends "/related/clubs/clubs.html" %}
{% block head %}{% endblock %}
{% block title %}Pioneers in Engineering{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Pioneers in Engineering (PiE)</h1><br>
                        <p><b>Website: </b><a href="https://pioneers.berkeley.edu/" target="_blank"> pioneers.berkeley.edu</a></p>
                        <p><b>Contact:</b>leadership [at] pioneers.berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>Pioneers in Engineering (PiE) is a student outreach organization at UC Berkeley. Their goal is to make STEM programs more accessible to K-12 students, especially those in underprivileged school districts in the Bay Area.</p>
                        <p><i>PiE Robotics Competition</i> - The members of Pioneers in Engineering organize and host an annual high school competition that allows students to put the STEM skills they’ve learned to the test with an extensive hands-on design experience. PiE members design the games and parts that are used in the competition; the competition costs the schools a mere $100, which is significantly more affordable than comparable robotics competitions. </p>
                        <p><i>PiE PREP</i> - This is PiE’s middle- and high-school mentorship program in which UC Berkeley students design and teach hands-on and exciting STEM lessons. To become a PiE Prep mentor, Cal students take the PiE Prep DeCal (a student-taught class), which teaches them what they need to know to lead successful programs at the school they mentor.</p>
                        <p><b>Media:</b></p>
                        <p><a href="https://www.youtube.com/watch?v=lB6kUMzXhrM" target = "_blank">2015 Competition Game: Fast Food Frenzy</a></p>
                        <p><a href = "https://www.youtube.com/watch?v=X9NyW-og_8Q" target = "_blank">Pioneers in Engineering Promotional Video</a></p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}