{% extends "/related/clubs/clubs.html" %}
{% block head %}{% endblock %}
{% block title %}Teleimmersion Lab{% endblock %}
{% block content %}
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Virtual Reality at Berkeley (VR@B)</h1><br>
                        <p><b>Website: </b><a href="http://vr.berkeley.edu/" target="_blank"> vr.berkeley.edu</a></p>
                        <p><b>Contact: </b>contact [at] vr.berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>VR@B strives to increase accessibility of virtual reality on campus as well as explore its applications in other fields through continuous research and development. As their website mentions, they “investigate virtual and augmented reality as tools for robotics control systems, visualization of complex data, and as an interface for the future.” </p>
            <p>This semester they have two notable robotics projects: </p>
                        <p><i>Augmented Reality Drone Clone</i> - Augmented reality (AR) and virtual (VR) interfaces are created for the Microsoft Hololens headset and enable the manipulation of drones with hand gestures. </p>
            <p><i>SLAM (Simultaneous Localization and Mapping)</i> - The project aims for drones to map unknown environments while at the same time maintaining knowledge of their location. As a result, a smoother AR/VR experience can be achieved with additionally usefulness in flight control and safety.</p>
            <p>Applications to join project teams can be found <a href="https://vratberkeley.typeform.com/to/M7adCf" target = "_blank">here</a>. If you wish to be a general member of VR@B, attend two of their general meetings.
</p>
                        <p><b>Media:</b></p>
                        <p><a href="https://www.youtube.com/watch?v=tt-sUxOYpuw" target = "_blank">Simulator Project Video</a></p>

            </div>
                </div>
            </div>
        </div>
{%endblock%}
