{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}BEST{% endblock %}
{% block content %}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11">
                <h1>Berkeley Emergent Space Tensegrities (BEST) Lab</h1><br>
                <p><b>Website: </b><a href="http://best.berkeley.edu/" target="_blank">best.berkeley.edu</a></p>
                <p><b>Contact:</b> Professor Alice Agogino</a> - agogino [at] berkeley.edu</p>
                <p><b>Description:</b></p>
                <p>Under the leadership of Professor Agogino, the researchers at the Berkeley Emergent Space Tensegrities (BEST) Lab focus on the intersection of “design research, computational design, gender equity, human-machine cognition, supervisory control, co-robotics, sensor fusion, design research and intelligent learning systems” (as is listed on their website).</p>
                <p>In their Tensegrity Robots project, the researchers of the BEST Lab are developing rapid prototyping kits and investigating methods of deploying the robots in applications such as space exploration, healthcare, search and rescue, and education. The robots are also touted as “robust enough to be dropped directly onto planets and go straight to work,” some day possibly replacing rovers on NASA missions.</p>
                <p>In the words of Agogino herself: “If a ball had bones, the resulting motion would probably resemble what a moving tensegrity robot looks like.” She also comments, “We are developing an open innovation approach to our rapid prototyping kit because we would like the designs and the do-it-yourself instructions to be available to other researchers and educators.” The BEST Lab’s robotics projects are both nontraditional and innovative, and they want to encourage others to think in new ways too. </p>
                <p><b>Popular Recent Publications:</b></p>
                <p><a href="http://www.sunspiral.org/vytas/cv/ICRA_2015_SUPERball.pdf" target = "_blank">System Design and Locomotion of SUPERball, An Untethered Tensegrity Robot</a> (2015)</p>
                <p><a href = "http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7090299" target = "_blank">Rapid Prototyping Design and Control of Tensegrity Soft Robot for Locomotion</a> (2014)</p>
                <p><a href="http://robotics.estec.esa.int/i-SAIRAS/isairas2014/Data/Session%205c/ISAIRAS_FinalPaper_0107.pdf" target="_blank">Superball: Exploring Tensegrities for Planetary Probes</a> (2014)</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}