{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}Robotics Learning Lab{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Robotics Learning Lab</h1><br>
                        <p><b>Website: </b><a href="http://rll.berkeley.edu/outreach/videos.html" target="_blank">rll.berkeley.edu</a></p>
                        <p><b>Contact:</b> Professor Pieter Abbeel - pabbeel [at] cs.berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>Now that you’re in college and have to do your own laundry, don’t you wish you had <a href="https://www.youtube.com/watch?t=116&v=uFkIHPrzS_8">this</a> clothing folding robot?</p>
                        <p>Located of the 7th floor of Sutardja Dai Hall (SDH), the Robot Learning Lab focuses on deep learning with the target application of autonomous manipulation. Deep learning is not the only method of harnessing an ever-increasing pool of data, but more traditional approaches tend to plateau at particular levels of performance. According to Abbeel, deep learning is “the first, and currently only, machine learning approach that has demonstrated the ability to continue to improve performance on real world problems as more data and more compute cycles are being made available.” This <a href="https://www.youtube.com/watch?v=EtMyH_--vnU">video</a> by a post-doc covers recent work from his research group.</p>
                        <p>In deep learning, or supervised learning, systems receive inputs (such as images) and corresponding labels (such as ‘dog,’ ‘cat,’ etc.) or actions. Initial performance may be low, but after periods of trial and error, systems label or react to inputs with increased accuracy and efficiency. This <a href="https://www.youtube.com/watch?t=49&v=S2GAz5F03Ls">talk</a> by Abbeel covers machine learning and optimization.</p>
                        <p>The hardcore researchers at the Robotics Learning Lab take a break every once in a while to get others excited about robots: the lab offers educational group tours to encourage interest in robotics at a young age. See their website for more information.</p>
                        <p><b>Popular Recent Publications:</b></p>
                        <p><a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=7006734" target = "_blank">A Survey of Research on Cloud Robotics and Automation</a> (2015)</p>
                        <p><a href = "http://arxiv.org/pdf/1504.00702.pdf" target = "_blank">End-to-End Training of Deep Visumotor Policies</a> (2015)</p>
                        <p><a href="http://arxiv.org/pdf/1109.1966.pdf" target="_blank">The Path Inference Filter: Model-Based Low-Latency Map Matching of Probe Vehicle Data</a> (2014)</p>
                        <p><a href="http://www.roboticsproceedings.org/rss09/p31.pdf" target="_blank">Finding Locally Optimal, Collision-Free Trajectories with Sequential Convex Optimization</a> (2013)</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}