{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}Model Predictive Control Lab{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Model Predictive Control Lab</h1><br>
                        <p><b>Website:</b><a href="http://www.mpc.berkeley.edu/" target="_blank"> mpc.berkeley.edu</a></p>
                        <p><b>Contact:</b> Professor Francesco Borrelli - fborrelli [at] me.berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>In the words of their website, “Our research lab focuses on the theoretical and real-time implementation aspects of constrained predictive model-based control… We deal with a wide range of systems in the automotive field, in the process industries and in robotics, including several full scale industrial problems.” For more information, see this <a href="https://www.youtube.com/watch?v=rTOlTknKFT0" target="_blank">video</a> of Professor Borrelli explaining the topics of research in the MPC Lab.</p>
                        <p><i>Autonomous Vehicles</i> - Partnered with Hyundai, researchers at the MPC Lab explore the potential of Model Predictive Control in both semi-autonomous and fully autonomous vehicle control. They explore autonomous vehicle controls in applications such as parking, changing lanes, and driving on slippery surfaces; they have several autonomous vehicles for testing at the Richmond Field Station and at a larger autonomous vehicle proving grounds in Southern California.</p>
                        <p><i>Building Efficiency</i> - Researchers in the MPC Lab also apply model predictive control theory to increase system efficiency in cooling or heating buildings.</p>
                        <p><b>Popular Recent Publications:</b></p>
                        <p><a href="http://www.me.berkeley.edu/~frborrel/pdfpub/victor.pdf" target = "_blank">Semiautonomous Vehicular Control Using Driver Modeling</a> (2014)</p>
                        <p><a href = "http://www.me.berkeley.edu/~frborrel/pdfpub/pub-201412.pdf" target = "_blank">Stochastic Predictive Control for Semi-Autonomous Vehicles with an Uncertain Driver Model</a> (2013)</p>
                        <p><a href="http://www.me.berkeley.edu/~frborrel/pdfpub/pub-1029.pdf" target="_blank">Model Predictive Control for the Operation of Building Cooling Systems 
                        </a> (2012)</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}