{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}SWARM Lab{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Swarm Lab</h1><br>
                        <p><b>Website:</b><a href="https://swarmlab.eecs.berkeley.edu" target="_blank"> swarmlab.eecs.berkeley.edu</a></p>
                        <p><b>Contacts:</b> Professor Jose Carmena - carmena [at] berkeley.edu, Professor Eric Paulos - paulos [at] berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>The Swarm Lab seeks to study the collective behavior of decentralized, self-organized systems, both natural and artificial. To do this, researcher uses sensors and actuators in order to build bridges between fields ranging from user interfaces to prosthetics. See for yourself in <a href="https://www.youtube.com/watch?v=EsUB6m8MX-Y">this video</a> of a project run by Michel Maharbiz.</p>
                        <p><i>Autonomous Swarms</i> - These are networks of sensor rich systems, both stationary and mobile. They are designed to give and receive information to and from a common system. Each individual entity in these Swarms acts as a node. It allows for things like safe estimation with UAVs and safe learning in robotics through multiple nodes.</p>
                        <p><i>Swarm Makers</i> - This theme focuses on designing swarm technology that can be used directly at the consumer level, and heavily involve Interactive Device Design  and Critical Making. Projects in this lab are taken from conception to fully functioning prototypes.</p>
                        <p><i>Swarms and People</i> - One aspect of this lab includes things that add a “sixth sense”, such as wearable and implantable interfaces that can be connected via networks to multiple devices around us. Research into these fields with both guarantee that such products are possible but also will ensure that such devices with both be safe and energy efficient.</p>
                        <p><i>Swarm Devices</i> - This lab focuses on the interface between swarm applications and the physical worlds. They include projects like an ultrasonic fingerprint sensor, MEMS gyroscopes, and flow cytometers.</p>
                        <p><b>Popular Recent Publications:</b></p>
                        <p><a href="http://www.cs.berkeley.edu/~bjoern/papers/savage-lamello-chi2015.pdf" target = "_blank">Lamello: Passive Acoustic Sensing for Tangible Input Components </a> (2015) </p>
                        <p><a href = "http://www.terraswarm.org/pubs/109/TerraSwarm_DesignAndTest.pdf" target = "_blank">The Swarm at the Edge of the Cloud </a> (2014) </p>
                        <p><a href="http://www.nature.com/nature/journal/v483/n7389/abs/nature10845.html" target="_blank">Corticostriatal plasticity is necessary for learning intentional neuroprosthetic skills </a> (2012)</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
