{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}Berkeley Automation Lab{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Berkeley Laboratory for Automation Science and Engineering</h1><br>
                        <p><b>Website:</b><a href="http://automation.berkeley.edu/" target="_blank"> automation.berkeley.edu</a></p>
                        <p><b>Contact:</b> Professor <a href="https://en.wikipedia.org/wiki/Ken_Goldberg">Ken Goldberg</a> - goldberg [at] berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>The Berkeley Laboratory for Automation Science and Engineering investigates four primary areas in robotics: cloud robotics, robotic surgery, automated manufacturing, and new media art forms.</p>
                        <p><i>Cloud Robotics</i> - As described on the Automation Lab's webpage, cloud robotics is "a new approach to robotics that takes advantage of the Internet as a resource for massively parallel computation and real time sharing of vast data resources." Here is a <a href="https://www.youtube.com/watch?v=dl0D8DX_bZI" target="_blank">video</a> of Professor Goldberg explaining the potential of cloud robotics at the World Economic Forum.</p>
                        <p><i>Surgical Robotics</i> - Robots are taking over the operation room - for a good reason. Specially designed robots offer a level of precision and repeatability that far surpasses human capabilities. Robots such as the da Vinci Surgical System are already widely used for complicated surgical procedures, and the Automation Lab is actively pushing the capabilities of robots even further by using advanced vision recognition and machine learning to develop models and algorithms for more intelligent robotic surgery.</p>
                        <p><i>Automated Manufacturing</i> - Researchers at the Automation Lab are exploring the intricacies of robotic grasping, feeding, and fixturing to increase the efficiency of automated assembly.</p>
                        <p><i>New Media Art Forms</i> - Through thought-provoking and engaging art, Goldberg and other researchers in the Automation Lab have explored important topics like virtual collaboration and privacy. The researchers at the Automation Lab have also experimented with using seismic data to produce art, creating both a <a href="http://goldberg.berkeley.edu/art/Bloom/" target="_blank">visual website</a> and a <a href="http://goldberg.berkeley.edu/art/natural-frequencies/" target="_blank">public music display</a> that transforms seismic data into relatable art forms.</p>
                        <p><b>Popular Recent Publications:</b></p>
                        <p><a href="http://ieor.berkeley.edu/~goldberg/pubs/T-ASE-Cloud-RA-Survey-Paper-Final-2015.pdf" target = "_blank">A Survey of Research on Cloud Robotics and Automation</a> (2015)</p>
                        <p><a href = "http://ieor.berkeley.edu/~goldberg/pubs/Kehoe-TASE-2014-CBG-v21.pdf" target = "_blank">Cloud-Based Grasp Analysis and Planning for Toleranced Parts Using Parallelized Monte Carlo Sampling</a> (2015)</p>
                        <p><a href="http://ieor.berkeley.edu/~goldberg/pubs/Schulman-IJRR-June-2014.pdf" target="_blank">Motion Planning with Sequential Convex Optimization and Convex Collision Checking</a> (2014)</p>
                        <p><a href="http://ieor.berkeley.edu/~goldberg/pubs/Robot-Assisted-Needle-Steering-RAMag-F11.pdf" target="_blank">Robot-Assisted Needle Steering</a> (2011)</p>
<!--                         <p><b>Recent Media:</b></p>
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=YiPq9t0tR3U"></iframe>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
{% endblock %}