{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}Biomimetic Lab{% endblock %}
{% block content %}
<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Biomimetic Millisystems Lab</h1><br>
                        <p><b>Website: </b><a href="https://robotics.eecs.berkeley.edu/~ronf/Biomimetics.html" target="_blank">Biomimetics Lab Website</a></p>
                        <p><b>Contact:</b> Professor Ron Fearing - ronf [at] eecs.berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>In the words of their website, “The goal of the Biomimetic Millisystems Lab is to harness features of animal manipulation, locomotion, sensing, actuation, mechanics, dynamics, and control strategies to radically improve millirobot capabilities. Research in the lab ranges from fundamental understanding of mechanical principles to novel fabrication techniques to system integration of autonomous millirobots. The lab works closely with biologists to develop models of function which can be tested on engineered and natural systems. The lab's current research is centered on all-terrain crawling using nanostructured adhesives and bioinspired flight.”</p>
                        
                        <p>This 2015 <a href="https://www.youtube.com/watch?v=kumEJtsHuQo" target='_blank'>video</a> of an ornithopter (a winged, flying robot) launching itself off a hexapedal (six-legged) robot provides an example of the bio-inspired research of the Biomimetic Lab.</p>
                        <p><b>Popular Recent Publications:</b></p>
                        <p><a href="http://robotics.eecs.berkeley.edu/~ronf/PAPERS/crose-icra15.pdf" target = "_blank">Coordinated Launching of an Ornithopter with a Hexapedal Robot</a> (2015)</p>
                        <p><a href = "http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=7010029" target = "_blank">Controlled In-Plane Locomotion of a Hexapod Using a Single Actuator</a> (2015)</p>
                        <p><a href="http://robotics.eecs.berkeley.edu/~ronf/PAPERS/dhaldane-icra14.pdf" target="_blank">Roll Oscillation Modulated Turning in Dynamic Millirobots 
                        </a> (2012)</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}