{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}Robotics and Human Engineering Lab{% endblock %}
{% block content %}
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Berkeley Robotics and Human Engineering Laboratory
                        </h1><br>
                        <p><b>Website: </b><a href="http://bleex.me.berkeley.edu/" target="_blank">bleex.me.berkeley.edu</a></p>
                        <p><b>Lab Director: </b>Dr. Homayoon Kazerooni</b> - kazerooni [at] berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>As stated on his lab’s website, Dr. Kazerooni conducts research on “robotics, control sciences, exoskeletons, human-machine systems and augmentation, bioengineering, mechatronics design, artificial locomotion, intelligent assist devices, and power and propulsion.” His work aims to lower the mobility and object transportation issues that humans encounter.</p>
                        <p>Berkeley Lower Extremity Exoskeleton (BLEEX), ExoHiker™, and ExoClimber™ were three of his notable exoskeletons projects that eventually lead to the creation of Human Universal Load Carrier (HULC), a energetically-independent lower exoskeleton allowed users to relocate 200-pound loads regardless of terrain. It includes features from ExoHiker™ and ExoClimber™. A video of HULC can be found <a href="https://www.youtube.com/watch?v=-XrwGDjOuOs#t=25"target = "_blank">here</a>.</p>
                        <p>In previous work focusing instead on upper extremities, his team created a new class of intelligent assistive devices now being used worldwide to assist workers with manipulations of heavy devices, which can be found <a href="http://bleex.me.berkeley.edu/research/intelligent-assist-devices/" target = "_blank">here</a>.</p>
                        <p><b>Recent Publications:</b></p>
                        <p><a href = "http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7057413" target = "_blank">Development of a Lower Extremity Exoskeleton System for Human-Robot Interaction</a> (2014)</p>
                        <p><a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5980492" target = "_blank">Semi-automated haptic device for cable installation</a> (2011)</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}