{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}Mechanical Systems Control Lab{% endblock %}
{% block content %}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11">
                <h1>Mechanical Systems Control (MSC) Lab</h1><br>
                <p><b>Website: </b><a href="http://msc.berkeley.edu/index.html " target="_blank">msc.berkeley.edu</a></p>
                <p><b>Contact:</b> Professor Masayoshi Tomizuka - tomizuka[at]berkeley.edu</p>
                <p><b>Description:</b></p>
                <p>The MSC lab is part of Berkeley’s Mechanical Engineering department and focuses on “designing and developing control strategies for mechanical systems.” The lab is headed by Professor Tomizuka who is currently the Associate Dean of Academic Affairs for the College of Engineering. </p>
		<p>Research projects cover a range of areas including robotics, human mechatronics, hard disk drive control, and automotive control systems. A list of their recent projects can be found in their research <a href ="http://msc.berkeley.edu/MSC_research_2013.pdf">booklet</a> </p>
		<p><b>Popular Recent Publications:</b></p>
                <p><a href="http://www.researchgate.net/profile/Bin_Yao2/publication/222838395_Adaptive_robust_control_of_MIMO_nonlinear_systems_in_semi-strict_feedback_forms/links/02bfe50f05e742ebf9000000.pdf" target = "_blank">Adaptive Robust Control of MIMO Nonlinear Systems in Semi-Strict Feedback</a> (2001)</p>
                <p><a href = "https://engineering.purdue.edu/~gchiu/Papers/2001/TOM_Task_Coordinate_Frame_Tomi.pdf" target = "_blank">Contouring Control of Machine Tool Feed Drive Systems: A Task Coordinate Frame Approach</a> (2001)</p>
                <p><a href="https://engineering.purdue.edu/~byao/Papers/Trans_Mechatronics91_machinetool.pdf" target="_blank">High-Performance Robust Motion Control of Machine Tools: An Adaptive Robust Control Approach and Comparative Experiments</a> (1997)</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
