{% extends "/related/labs/labs.html" %}
{% block head %}{% endblock %}
{% block title %}Teleimmersion Lab{% endblock %}
{% block content %}
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Teleimmersion Lab</h1><br>
                        <p><b>Website: </b><a href="http://tele-immersion.citris-uc.org/" target="_blank">tele-immersion.citris-uc.org/</a></p>
                        <p><b>Lab Director: </b>Professor Ruzena Bajcsy</p>
                        <p><b>Primary Contact:</b> Dr. Gregorij Kurillo</a> - gregorij [at] berkeley.edu</p>
                        <p><b>Description:</b></p>
                        <p>As mentioned on their website, researchers at the Teleimmersion Lab are interested in “computer vision, robotics, tele-immersive communications, and modeling of cyber-physical systems.” Lead by Professor Ruzena Bajcsy, the group explores a variety of areas, including the complications of human-robot cooperation, activity recognition, the creation of musculoskeleton models, and quantifying human performance.</p>
                        <p>The beauty of teleimmersion technology is that it allows users to communicate and interact through a shared virtual environment, even if users are spatially separated. In 3D capture, users are captured as a cloud of points, or 3D mesh; the geometry of a scene is then mapped into the virtual environment.</p>
                        <p>At the moment, the group’s application of teleimmersion extends to the medical field (specifically to remote training and rehabilitation).</p>
                        <p>The lab’s two most recent robotics projects (found <a href="http://tele-immersion.citris-uc.org/project_ms_models" target = "_blank">here</a> and <a href="http://tele-immersion.citris-uc.org/project_human_robot">here</a>)have goals of building and analyzing musculoskeletal models and improving human-robot interactions with potential applications in assistive robotics. Along with stereo reconstruction and teleimmersion, facilities at the lab also encourage further research in motion capturing, monitoring, and movement analysis. </p>
                        <p>Installations of the lab’s work with teleimmersion technology can be found on campuses such as UC Berkeley, Florida International, UC Davis, the University of Texas at Dallas, and the University of Illinois at Urbana-Champaign.</p>
                        <p><b>Recent Publications:</b></p>
                        <p><a href = "http://delivery.acm.org/10.1145/2740000/2735793/p69-matthew.pdf" target = "_blank">Optimal Design for Individualised Passive Assistance</a> (2015)</p>
                        <p><a href="http://tele-immersion.citris-uc.org/sites/default/files/W22-20.pdf" target = "_blank">Calculating Reachable Workspace Volume for use in Quantitative Medicine</a> (2014)</p>
                        <p><a href="http://ac.els-cdn.com/S1047320313000680/1-s2.0-S1047320313000680-main.pdf?_tid=0dcaa99a-5453-11e5-a74e-00000aacb360&acdnat=1441515319_231691b1eb1115ab80c521499b9677d9" target="_blank">Sequence of the most informative joints (SMIJ): A new representation for human skeletal action recognition</a> (2014)</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}