{% extends "/projects/projects.html" %}
{% block head %}{% endblock %}
{% block title %}New Projects{% endblock %}
{% block content %}

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <h1>Starting a New Project</h1>
                <p>Want to run a project of your own? Need money to purchase materials? Submit a project proposal and receive Robotics Team support!</p>
                <p>To submit a proposal for a new project, fill out our <a href='http://calrobotics.xyz/ppp'>project proposal form</a>. After you do this, you will be contacted by a leader of Robotics@Berkeley with a request for more specific information, such as what parts you need and what the deadlines will be for your project. If your proposal is approved for Robotics@Berkeley support, you will be assigned a R@B advisor who will work to get your project all the support it needs to be sucessful.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}