{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}Cory Student Workshop{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Cory Student Workshop</h1><br>
                        <p><b>Website:</b><a href="https://supernode.berkeley.edu/Cory_Student_Workshop" target="_blank"> supernode.berkeley.edu/Cory_Student_Workshop</a></p>
                        <p><b>Location:</b> 297 Cory Hall</p>
			<p><b>Hours:</b> 24/7 </p>
			<p><b>Contact:</b> ESG (Electronics Support Group) team: cswhelp[at]eecs.berkeley.edu</p>
			<p><b>Directions:</b></p>
			<p>Enter Cory Hall on the 2nd floor from Hearst Avenue, then walk straight down to the end of the hallway. 297 Cory Hall is on the right and has a sign on the door indicating that it is the Cory Student Workshop.</p>			
			<p><b>Descriptions: </b></p>
			<p>The Cory Student Workshop is a general workspace equipped with hand tools and power tools including drills, sanders, shears, hammers, screwdrivers, and the like. The space is managed by ESG and is affiliated with Supernode, the electronics student workspace also on the 2nd floor of Cory.</p>
			<p><b>How to Gain Access:</b></p>
			<p>Students need to complete the Cory Student Workshop safety training before gaining access to the space. The steps of this training are listed on their webpage and involves both an online training and in-person training. Once the training is complete, students are given 24/7 key card access.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
