<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <title>Berkeley Youth Robotics Academy</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/assets/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">

    <script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/js/modernizr.custom.js"></script>
	

	
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='textstatic/assets/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='textstatic/assets/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/assets/js/html5shiv.js"></script>
      <script src="static/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#">BYRA</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#about" class="smoothScroll">About</a>
			<a href="#curriculum" class="smoothScroll">Curriculum</a>
			<a href="#enroll" class="smoothScroll">Enroll</a>
			<a href="#contact" class="smoothScroll">Contact</a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>


	
	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<br>
			<h1>Berkeley Youth Robotics Academy</h1>
			<h2>Presented by Robotics@Berkeley</h2>
			<div class="row">
				<br>
				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<!-- ========== WHITE SECTION ========== -->
	<div id="w">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				<h3>WELCOME TO THE <bold>BERKELEY YOUTH ROBOTICS ACADEMY</bold>, HOSTED BY <bold>ROBOTICS@BERKELEY</bold>. IN THIS CLASS, YOU WILL <bold>LEARN, BREAK, AND BUILD ROBOTS</bold>. <br/>
				</h3>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
	
	<!-- ========== SERVICES - GREY SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				<h3>ABOUT US</h3>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="/static/assets/img/s1.png">
					<h4>The Overview</h4>
					<p>Fundamentals of Robotics, developed and taught by volunteers from the UC Berkeley student group Robotics@Berkeley, explores the science and technology behind robotic systems through practical, hands-on projects. </p>
				</div>
				<div class="col-lg-4">
					<img src="/static/assets/img/s2.png">
					<h4>The Specifics</h4>
					<p>The program is designed to interest students in the field of robotics and motivate them to pursue an advanced education in science and engineering. In this class, students will apply learn the fundamentals of computer programming, electronics, and system controls necessary to develop a robotic system. Using the engineering design team concept as a model, students work in small groups to design, program, and construct robotic devices. </p>
				</div>
				<div class="col-lg-4">
					<img src="/static/assets/img/s3.png">
					<h4>The Topics</h4>
					<p>The course of study includes Design Process, Electricity, Arduino Programming, Machine Control, and Robotic System Design. Assignments and course documents will be available via Google Drive. All students will be given access to the materials prior to the beginning of the course.</p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->
	
	<!-- ========== CURRICULUM ========== -->
	<section id="curriculum" name="curriculum"></section>
	<div id="dg">
		<div class="container">
			<div class="row">
				<h3>CURRICULUM</h3>
				<br>
				<br>
				<div class="col-lg-6">
					<p>This course will be taught in six two-hour sessions on the UC Berkeley campus in <b>XXX Cory Hall</b>. The course has a single $120 fee to pay for the components of the robot systems that each student will develop and keep -- all funds that don’t go toward materials will be donated directly to Robotics@Berkeley to support UC Berkeley student projects. At each session there will be one primary adult instructor leading the course and at least two assistant instructors. Additional, online lectures will be made for students who wish to further explore robotics outside the class time.</p>
				</div>
				<div class="col-lg-6">
					<p>The general session format will be a short lecture followed by a longer hands-on project period, where students apply what they learned in their own robotic system they are developing. Each student will maintain an engineering notebook, in which they will take notes on new information and document the development of their robotic system. Students will work in pairs on all project components, but they will each develop their own robot. The course will culminate in a competition in which students program their robots to complete a maze as quickly as possible.</p>
				</div>
			
			</div>	
			<div class="row">
				 <table class="table table-striped">
				    <thead>
				      <tr>
				        <th><center>Day</center></th>
				        <th><center>Content</center></th>
				        <th><center>Activity</center></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>3/5</td>
				        <td>Intro to Arduino, Programming Basics</td>
				        <td>Morse Code LED</td>
				      </tr>
				      <tr>
				        <td>3/12</td>
				        <td>Breadboarding, Intro to Electricity, Schematics</td>
				        <td>Switch Combo Circuit</td>
				      </tr>
				      <tr>
				        <td>3/19</td>
				        <td>Digital Inputs, Programming Control, Serial Monitor</td>
				        <td>Rainbow Circuit</td>
				      </tr>
				      <tr>
				        <td>3/26</td>
				        <td>Motors, Integrated Circuits</td>
				        <td>Robot Assembly</td>
				      </tr>
				      <tr>
				        <td>4/2</td>
				        <td>Ultrasonic Distance Sensors, Dynamic Controls</td>
				        <td>Wall Following Robot</td>
				      </tr>
				      <tr>
				        <td>4/9</td>
				        <td>Competition Day: Maze Race</td>
				        <td>Maze Race</td>
				      </tr>
				    </tbody>
				  </table>
			</div>
		</div><!-- /container -->
	</div><!-- /dg -->
	
	<!-- ========== ENROLL ========== -->
	<section id="enroll" name="enroll"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				<h3>JOIN OUR CLASS</h3>
				<br>
				<br>
				<div class="col-lg-3">
					<p>Are you interested in enrolling in the class? Before you do, take a look at the map on the right to get acquainted with the location of the class. Then, click <a href="#">here</a> in order to enroll and pay the class fees. Only the first 40 people to enroll will get a spot. We look forward to seeing you soon!</p>
				</div>
				<div class="col-lg-9">
					<script src="http://maps.googleapis.com/maps/api/js"></script>

					<script>
					var myCenter=new google.maps.LatLng(37.875036,-122.257324);

					function initialize()
					{
					var mapProp = {
					  center:myCenter,
					  zoom:18,
					  mapTypeId:google.maps.MapTypeId.ROADMAP
					  };

					var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

					var marker=new google.maps.Marker({
					  position:myCenter,
					  });

					marker.setMap(map);
					}

					google.maps.event.addDomListener(window, 'load', initialize);
					</script>
					<div id="googleMap" style="width:800px;height:250px;"></div>
				</div>			
			</div>	
		</div><!-- /container -->
	</div><!-- /portfoliowrap -->
	
	<!-- ========== WHITE SECTION ========== -->
	<div id="w">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				<h3>WE WORK HARD TO DELIVER A <bold>HIGH QUALITY SERVICE</bold>. OUR AIM IS YOUR COMPLETE <bold>SATISFACTION</bold>.
				</h3>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
	
	<!-- ========== ABOUT - GREY SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				<h3>COURSE STAFF</h3>
				<br>
				<br>
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
				<p>Are you interested in learning about Robotics? Want to participate in lessons that are both fun and practical? Well, the Berkeley Youth Robotics Academy is the perfect place! Our course staff includes individuals who competed on Robotics Teams that have won world championships, individuals who have worked with labs dealing with Model Predictive Control, Cloud Robotics, and Natural Language Processing, and individuals who have worked in companies such as Tesla Motors and Salesforce. Our goal is to provide the best possible experience to our students!</p>
				<br>
				<br>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-2 team">
					<img class="img-circle" src="/static/assets/img/team01.jpg" height="90" width="90">
					<h4>Joshua Price</h4>
					<h5><i>Instructor</i></h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>

				<div class="col-lg-2 team">
					<img class="img-circle" src="/static/assets/img/team02.jpg" height="90" width="90">
					<h4>Kush Rastogi</h4>
					<h5><i>Instructor</i></h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>

				<div class="col-lg-2 team">
					<img class="img-circle" src="/static/assets/img/team03.jpg" height="90" width="90">
					<h4>Kiva Uhuru</h4>
					<h5><i>Instructor</i></h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>

				<div class="col-lg-2 team">
					<img class="img-circle" src="/static/assets/img/team04.jpg" height="90" width="90">
					<h4>Jessica Kam</h4>
					<h5><i>Administrative Director</i></h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-2 team">
					<img class="img-circle" src="/static/assets/img/team05.jpg" height="90" width="90">
					<h4>Apollo Jain</h4>
					<h5><i>Webmaster</i></h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->
	
	<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
					<h3><b>CONTACT US</b></h3>
					<br>
					<div class="col-lg-4">
						<h3><b>Send Us A Message:</b></h3>
						<h3>leadership@rab.berkeley.edu</h3>
						<br>
					</div>
					
					<div class="col-lg-4">	
						<h3><b>Call Us:</b></h3>
						<h3>(925)-785-2699</h3>
						<br>
					</div>
					
					<div class="col-lg-4">
						<h3><b>We Are Social</b></h3>
						<p>
							<a href="https://www.facebook.com/roboticsatberkeley/?fref=ts"><i class="icon-facebook"></i></a>
							<a href="mailto:leadership@rab.berkeley.edu?Subject=Berkeley%20Youth%20Robotics%20Academy"><i class="icon-envelope"></i></a>
						</p>
						<br>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://rab.berkeley.edu">ROBOTICS@BERKELEY</a></p>
		
		</div>
	</div>
	
	
	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/assets/js/classie.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/smoothscroll.js"></script>
	<script src="/static/assets/js/main.js"></script>
</body>
</html>
