{% extends "default.html" %}
{% block head %}{% endblock %}
{% block title %}Dorm Ex Machina{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1>Dorm Ex Machina</h1>
			<h3>Overview</h3>
			<p>In Fall 2016, Robotics@Berkeley will put on a three-month long robotics design competition for undergraduates at UC Berkeley. The winning design will be the robotic system that is most useful in the dorm-style living of all college students. Teams will be advised by officers within Robotics@Berkeley and will be offered workshops and work-sessions to receive additional guidance in their projects.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<h3>In More Than One Sentence</h3>
			<p>Teams will consist of 2-4 UC Berkeley students. All participants in the competition must register as Robotics@Berkeley members before their team is approved. They will be given a budget of $75 for their project in total (including materials not on the final robot), and their robot may not cost more than $75 to recreate.</p>
			<p>Teams will have multiple opportunities for advising. It is expected that many of the participants will have no experience in robotics. R@B will host at least three workshops on introductory robotics topics that will be useful for most, if not all, of the participating teams. R@B will also host weekly work sessions, where participants can get one-on-one robot advice from more experienced roboticists.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<br>
			<br>
			<center>
			<img src="/static/img/metal-work.jpg" alt="battlebot" width="500"/>
			</center>
			<br>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12">
			<h3>Frequently Asked Questions</h3>
			<p><b>Who can participate?</b></p>
			<p>This competition is exclusively for undergraduates registered at UC Berkeley for Fall 2016, visiting students
			studying at UC Berkeley in Fall 2016, and students in the Fall Program for Freshmen. Graduate students and alumni are
			encouraged to participate by becoming advisers, but they may not be on a DXM team.</p>
			<br>
			<p><b>How does the application process work?</b></p>
			<p>Groups of 2-4 students can apply to participate in DXM by completing the DXM application form by 11:59pm September 12, 2016. All applications will be reviewed by a committee of Robotics@Berkeley officers. Applications will be judged on the
			........ </p>
			<br>
			<p><b>What if I don't have a team?</b></p>
			<p>Students without a team are encouraged to attend Robotics@Berkeley's infosession on September 6, 2016 in The Woz. We will
			have a designated team-matching session at the end of the infosession.</p>
			<br>
			<p><b>Where will I get parts for my project?</b><p>
			<p>Robotics@Berkeley will make a bulk order of common parts such as Arduinos, Wi-Fi modules, and jumper wires so that
			participants can purchase them at reduced price. More specific parts can either be purchased online at sources like Amazon
			or created at spaces on campus including Jacobs Hall, the CITRIS Invention Lab, and Bridges Makerspace.</p>
			<br>
		</div>
    </div>
    <p> </p>
</div><!-- /.blurb -->
{% endblock %}
