{% extends "default.html" %}
{% block head %}{% endblock %}
{% block title %}Dorm Ex Machina{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<center>
				<br>
				<img style="width:100%;" id="Dorm Ex Machina" src="/static/img/dxm_banner.jpg">
			</center>
			<br><h2>Overview</h2>
			<p>With funding from UC Berkeley's <a href="http://engineering.berkeley.edu/">College of Engineering</a> and Center for Information Technology Research in the Interest of Society <a href="http://citris-uc.org/">(CITRIS)</a>, Robotics@Berkeley (R@B) is hosting a <b>three-month long robotics design competition</b> for Berkeley undergraduates from September to November 2016. In Dorm Ex Machina (translated "Dorm of the Machine"), selected teams will be advised by experienced R@B officers, funded by R@B's sponsors, and offered workshops and group work-sessions relevant to their projects. The winning design will be the robotic system that is most useful in college dorm-style living as judged by roboticists and regular college students at the Dorm Ex Machina Pitch Night in November.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<h2>Competition Project Teams</h2>
			<p>Interested teams of 2-4 UC Berkeley students must <a href="https://docs.google.com/a/berkeley.edu/forms/d/1S_MCV7nRteP1xyAsLtLUm4T3Aaf5KF0BVwlHxSfWp6o/edit">apply</a> to be considered for participation. We encourage all interested Berkeley undergraduates to apply. All accepted teams will receive an equal amount of funding upfront (on the order of $80). Additional funding will be appropriated to all teams as deemed necessary. They will be given a budget of $75 for their project in total (including materials not on the final robot), and their robot may not cost more than $75 to recreate.</p>
			<h2>Extensive Robotics Advising</h2>
			<p>Teams will have extensive opportunities for project advising. It is expected that many of the participants will have no experience in robotics. R@B will host at least three workshops on introductory robotics topics that will be useful for most, if not all, of the participating teams. R@B will also host weekly work sessions, where participants can get one-on-one robot advice from more experienced roboticists.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<br>
			<br>
			<center>
			<img src="/static/img/C10.jpg" alt="Arduino Robotics" width="500"/>
			</center>
			<br>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12">
			<center><h2>Frequently Asked Questions</h2><br></center>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<p><b>Who can participate?</b></p>
			<p>This competition is exclusively for undergraduates registered at UC Berkeley for Fall 2016, visiting students
			studying at UC Berkeley in Fall 2016, and students in the Fall Program for Freshmen. Graduate students and alumni are
			encouraged to participate by becoming advisers, but they cannot be a member of a DXM team.</p><br>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<p><b>How does the application process work?</b></p>
			<p>Groups of 2-4 students can apply to participate in DXM by completing the DXM application form by 11:59pm September 12, 2016. All applications will be reviewed by a committee of Robotics@Berkeley officers. Applications will be judged on the
			................................................................................. </p><br>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<p><b>What if I don't have a team?</b></p>
			<p>Students without a team are encouraged to attend Robotics@Berkeley's infosession on September 6, 2016 in The Woz. We will
			have a designated team-matching session at the end of the infosession.</p><br>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<p><b>Where will I get parts for my project?</b><p>
			<p>Robotics@Berkeley will make a bulk order of common parts such as Arduinos, Wi-Fi modules, and jumper wires so that
			participants can purchase them at reduced price. More specific parts can either be purchased online at sources like Amazon
			or created at spaces on campus including Jacobs Hall, the CITRIS Invention Lab, and Bridges Makerspace.</p><br>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<p><b>What if I have a question not answered in the FAQ?</b></p>
			<p>Email us at leadership@rab.berkeley.edu</p><br>
		</div>
    </div>
    <p> </p>
</div><!-- /.blurb -->
{% endblock %}
