<!DOCTYPE html>
	<html>
		<head>
			<title>{% block title %}{% endblock %} | Robotics at Berkeley</title>
			<!-- link to main stylesheet -->
			<link href="/static/img/new_icon.png" rel="icon" type="image/png" />
			<link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<link type="text/css" href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
			<link type="text/css" href="/static/css/simple-sidebar.css" rel="stylesheet">
            <link type="text/css" href="/static/css/scaling-background.css" rel="stylesheet">
			 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			 <style>
			 	h1{font-size: 42px;}
			 	h3{font-size: 27px;}
			 	p{font-size:17px;}
			 </style>
		</head>
		<body>
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container-fluid">
			    <div class="navbar-header">
				  <button type="bsutton" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			      <a class="navbar-brand" href="/">Robotics at Berkeley</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li><a href="/about/">About</a></li>
			        <li><a href="/join/">Join</a></li>
			        <li><a href="/calendar/">Calendar</a></li>
			        <li><a href="/projects/">Projects</a></li>
			        <li><a href="/related/">Also at Cal</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>

			<div class="container">
			 <!-- <div style="width:200px; height:50px;"></div> -->
			{% block content %}{% endblock %}
			
			</div><!-- /.container -->
			<div class="home-footer navbar-fixed-bottom">
		      <div class="container">
		      	<br>
	        		<p style="font-size: 15px; color: #989898;">
					<a href="https://www.ocf.berkeley.edu/">
					<img src="https://www.ocf.berkeley.edu/images/hosted-logos/ocfbadge_platinum.png" alt="Hosted by the OCF" width="128" height="36" style="border:0" />
					</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2015 Robotics@Berkeley. Please email leadership@rab.berkeley.edu for general inquiries. </p>
					
					<p style = "font-size: 10px; color: #989898;">
					We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.
					</p>
					
		      </div>
	    	</div>
            <div id="bg">
                <img src={% block bg_url %}{% endblock %} alt="">
            </div>
		</body>
	</html>
