{% extends "home-default.html" %}
{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}

<div style="width:200px; height:50px;"></div> 
<div class="container-fluid"><div class="row">
	<div class="jumbotron">	
		<!-- <div class="col-sm-9"> -->
			<h3>Welcome to the <b>Robotics at Berkeley</b> website!</h3>
			<p>We are a student group at UC Berkeley that lowers the barriers to being involved in robotics at Cal by doing the following things:</p>
			<p>   1. Supporting students' competitive and recreational robotics projects</p>
			<p>   2. Increasing awareness and accessibility of all robotics-related groups at Cal</p>
			<p>   3. Organizing social and intellectual events focused on robotics</p>
			<p>Please fill out <a href="https://docs.google.com/forms/d/1EUIOuYCcWSv_LYbXmCvNl3bETMQGkojm1D3ZLoIUE2Q/viewform?edit_requested=true">this form</a> if you would like to join our mailing list.</p>
		<!-- </div>
		<div class="col-sm-3"> -->
		<!-- </div> -->
		<script>
			document.body.style.backgroundImage = "url('static/img/battlebot.jpg')";
			document.body.style.backgroundRepeat = "no-repeat";
		</script>
	</div>
</div><!-- /.blurb -->
{% endblock %}