{% extends "home-default-HIDDEN.html" %}
{% block head %}{% endblock %}
{% block title %}Home{% endblock %}
{% block bg_url %}"/static/img/battlebot.jpg"{% endblock %}
{% block content %}

<div style="width:200px; height:50px;"></div> 
<div class="container-fluid"><div class="row">
	<div class="jumbotron">	
		<!-- <div class="col-sm-9"> -->
			<h3>Welcome to the <b>Robotics at Berkeley</b> website!</h3>
			<p>The mission of Robotics at Berkeley is to create and maintain a financial, social, and informational hub for undergraduate roboticists at UC Berkeley by</p>
			<p>   1. Providing monetary, informational, and administrative support for students’ robotics-related projects and competition teams</p>
			<p>   2. Collecting and publicizing information about and opportunities in UC Berkeley’s robotics-related student groups and research labs</p>
			<p>   3. Organizing socially and intellectually engaging events for roboticists of all ages, majors, and interests.</p>
			<p>Please fill out <a href="/form/">this form</a> if you would like to join our mailing list.</p>
		<!-- </div>
		<div class="col-sm-3"> -->
		<!-- </div> -->
	</div>
</div><!-- /.blurb -->
{% endblock %}
