{% extends "home-default.html" %}
{% block head %}{% endblock %}
{% block title %}About{% endblock %}
{% block bg_url %}"/static/img/battlebot.jpg"{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" id="white">
      <div class="row">
        <div class="col-md-12">
          <iframe width="100%" height="400"
src="http://www.youtube.com/embed/6aVFbciIh7A">
</iframe>
        </div>
      </div>
      <div class="row">
      </div>

      <br>
        <h4>The mission of Robotics at Berkeley is to create and maintain a financial, social, and informational hub for undergraduate roboticists at UC Berkeley by:</h4>
        <!-- <center> -->
          <div class="row">
            <div id="main_info" class="col-md-4">
              <h2>Projects</h2>
              <p>Providing monetary, informational, and administrative support for students’ robotics-related projects and competition teams</p>
              <p><a class="btn btn-primary" href="/projects/" role="button">View details &raquo;</a></p>
            </div>
            <div id="main_info" class="col-md-4">
              <h2>Related Groups</h2>
              <p>Collecting and publicizing information about and opportunities in UC Berkeley’s robotics-related student groups and research labs</p>
              <p><a class="btn btn-primary" href="/related/" role="button">View details &raquo;</a></p>
           </div>
            <div id="main_info" class="col-md-4">
              <h2>Events</h2>
              <p>Organizing socially and intellectually engaging events for roboticists of all ages, majors, and interests.</p>
              <p><a class="btn btn-primary" href="/calendar/" role="button">View details &raquo;</a></p>
            </div>
          </div>
          <!-- </center> -->
          <p>Please fill out <a href="/form/">this form</a> if you would like to join our mailing list.<br><br><br></p>

    </div>


{% endblock %}


