{% extends "default.html" %}
{% block head %}{% endblock %}
{% block title %}Leadership{% endblock %}
{% block content %}
<div class="container-fluid">
	<h1>Leadership</h1>
		<div class="row">
			<h3>Joshua Price</h3>
			<h5>President</h5>
			<p>Built my first robot in my freshman year of high school and have been doing it ever since. At Berkeley I've been particularly interested in autonomous vehicles and biomedical devices -- I study Mechanical Engineering with sprinkles of CS and bio here and there. Within Robotics@Berkeley, I oversee the flow of information and resources and think of new ways we can achieve our mission.</p>
			<div class="photo">
				<img src="/img/Josh_Officer_Photo.jpg" alt="Josh"/>
			</div>
		</div>
		<div class="row">
			<h3>Richard Yuh</h3>
			<h5>VP of Finance</h5>
			<p>I handle all club payments and transactions, manage the club bank account, communicate with LEAD, and plan fundraising opportunities</p>
			<div class="photo">
				<img src="/img/Richard_Officer_Photo.jpg" alt="Richard"/>
			</div>
		</div>
		<div class="row">
			<h3>Cuong Luu</h3>
			<h5>Web Co-Developer</h5>
			<p>I help manage the Robotics@Cal website, building upon it to improve functionability and usability.</p>
			<div class="photo">
				<img src="/img/Cuong_Officer_Photo.jpg" alt="Cuong"/>
			</div>
		</div>
		<div class="row">
			<h3>Nick Titterton</h3>
			<h5>Web Co-Developer</h5>
			<p>Hello! I'm a CS sophomore interested in robotics. Cuong and I maintain and update the R@B website.</p>
			<div class="photo">
				<img src="/img/Nick_Officer_Photo.jpg" alt="Nick"/>
			</div>
		</div>
</div>
{% endblock %}