{% extends "default-HIDDEN.html" %}
{% block head %}{% endblock %}
{% block title %}Calendar{% endblock %}
{% block content %}
<!-- <div style="width:200px; height:50px;"></div>  -->
<div class="container-fluid">
	<div class="row">
		<center><h1>Sponsorships</h1></center>
		<p>Sponsors of Robotics@Berkeley enjoy numerous benefits for helping our organization. Sponsoring our project teams and events will give your firm name-brand recognition across campus. The branding on our t-shirts and websites will also give your company recognition off-campus when we go to competitions and events in our community and around the country. Depending on how much your company donates, Robotics@Berkeley will also organize an on-campus info-session for your organization, giving your firm even more exposure to roboticists here at Berkeley. For more specific details about sponsorship, please take a look at the sponsorship packet <a href="/static/documents/sponsorship_packet.pdf">here</a> for more detailed information. If you sponsor a specific event, we will match the money you donate to the tier specified in the backed.</p>
	<center>
		<div class="row">
			<h3>Silver Tier</h3>
			<img src="/static/img/godaddy.png" width="300px">
		</div>
		<div class="row">
			<h3>Bronze Tier</h3>
			<img src="/static/img/google.png" width="150px">
			<img src="/static/img/yahoo.png" width="150px">
			<img src="/static/img/intel.png" width="150px">
		</div>
		<br>

		<br>
	</center>
</div><!-- /.blurb -->
{% endblock %}