{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}Spaces{% endblock %}
{% block content %}
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">     
                        <h1>Spaces at Cal</h1>
			<p> For those who wish to make the most of resources around campus, we have complied a list of spaces and facilities around campus that grant access to equipment and materials for classes and projects.</p>                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
