{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}CITRIS Invention Lab{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>CITRIS Invention Lab</h1><br>
                        <p><b>Website: </b><a href="http://invent.citris-uc.org/" target="_blank"> invent.citris-uc.org</a></p>
                        <p><b>Location:</b> 141 Sutardja Dai Hall</p>
			<p><b>Hours:</b> Variable. See their <a href="http://invent.citris-uc.org/about/calendar/">schedule </a></p>
			<p><b>Contact:</b> Contact them via the <a href="http://invent.citris-uc.org/contact/">form</a> on the contact page of their website</p>
			<p><b>Directions:</b></p>
			<p>Enter Sutardja Dai Hall through the main entrance on the 3rd floor and take the elevator to the left down to the 1st floor. Once on the 1st floor, enter the door on the left that says “Entrance to All Labs”. Once you pass through that door, there are arrows on the wall that point to the Invention Lab. Note: there are two parts to the invention lab. The first door you pass will be a part of the Invention Lab for sponsored inventioneers. If it’s your first time there, you want to pass by that door and enter the second door in the hallway. </p>
			<p><b>Description: </b></p>
			<p>As per their their website, “The CITRIS Invention Lab @ UC Berkeley supports faculty, student and community innovation by providing the knowledge, tools and support to rapidly design and prototype novel interactive products, embedded sensing systems and integrated mobile devices.” The lab has prototyping tools such as a laser cutter, 3D printers, saws, soldering irons, etc. The Invention Lab stocks many commonly used materials in prototyping, including plastic and wood sheets, microcontrollers such as Arduino and Raspberry Pi, many sensor, and a plethora of common circuitry components. It is a general prototyping space with staff who can help you find the materials and tools you need while giving ideas and suggestions for your projects.
 </p>
			<p><b>How to Gain Access:</b></p>
			<p>The Invention Lab has a $125 membership fee for individual members. They also offer group membership for labs ($500) and student organizations ($250). To become a member, you must go through a safety training. For more information on becoming an Invention Lab member, see their membership <a href="http://invent.citris-uc.org/membership/">page</a> </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
