{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}Jacobs Institute{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Jacobs Institute</h1><br>
                        <p><b>Website:</b><a href="http://jacobsinstitute.berkeley.edu/" target="_blank"> jacobsinstitute.berkeley.edu</a></p>
			<p><b>Blog:</b> <a href="http://designatberkeley.com/blog/">designatberkeley.com</a>
                        <p>Location: 2530 Ridge Road</p>
			<p>Regular Hours: 8:30AM-7PM Monday-Friday</p>
			<p>After Hours: 7-11PM on weekdays and 12-7PM on Saturday</p>
			<p><b>Contact:</b> jacobsinstitute[at]berkeley.edu</p>
			<p><b>Directions:</b></p>
			<p>Walk past Soda Hall and Etcheverry Hall. Jacobs is located next to Soda Hall on the corner of Ridge Road and LeRoy Avenue. </p>
			<p><b>Descriptions: </b></p>
			<p>Jacobs Institute is a newly completed building on campus where students can explore, play, and learn. During the day the building is open for classes. After-hours are restricted to Maker Pass holders (who can access workshops and meeting spaces) and approved student clubs (who can access meeting spaces). </p>
			<p>Students are welcome to use the space and available equipment for course projects, clubs, competitions, or their own purposes. Studios at Jacobs offer basic hand tools, electronics equipment, and 3D printers which can be accessed by anyone who has completed basic safety training. A full list of facilities can be accessed <a href="http://jacobsinstitute.berkeley.edu/make/jacobs-hall/">here</a>. </p>
			<p><b>How to Gain Access:</b></p>i
			<p>Access to the tools and materials in the makerspace are available based on semester-long membership. Tools are available for “prototyping, iteration, and fabrication.” Those with classes at Jacobs automatically have membership and 24/7 key card access for the semester. All other students and student organizations need to submit an application form, go through safety training, and pay the semesterly fee of $75 to obtain a Jacobs Hall Maker Pass. To apply for a Maker Pass, fill out this <a href="ihttps://docs.google.com/a/berkeley.edu/forms/d/1OOu0XzjSr9AV6lHc8HpBGR4ndwuUcmZ7WvItPTGW9yg/viewform">application</a>. </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
