{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}Machine Shop{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Machine Shop</h1><br>
                        <p><b>Website:</b><a href="http://www.me.berkeley.edu/services/student-machine-shop" target="_blank">me.berkeley.edu/student-machine-shop</a></p>
                        <p><b>Location:</b>1166 Etcheverry Hall</p>
			<p><b>Hours:</b>8:00AM-12PM and 1-5PM Monday-Friday</p>
			<p><b>Contact:</b> Scott McCormick (mccormick[at]berkeley.edu)</p>
			<p><b>Directions:</b></p>
			<p>The Student Machine Shop is located on the first floor of Etcheverry Hall, which is on the north side of campus near next to Soda Hall. Enter Etcheverry on the third floor across from Soda, take the elevator down to the first floor, walk down the hall and turn into the offshoot hall. The Machine Shop is about half way down that hall. </p>
			<p><b>Descriptions: </b></p>
			<p>The Machine Shop is a workshop managed by the Mechanical Engineering Department where students can both design and manufacture projects under the guidance of on-site professional technicians. As per their website, the shop provides access to equipment for fabrication and prototyping including “engine lathes, vertical and horizontal milling machines, drill presses, off-hand grinders, belt sanders, band saws, and additional equipment used in teaching manufacturing processes, including an OMAX Water Jet, a Mori Seiki CNC Lathe, a HAAS VF-O VMC, and a FANUC Cut Wire EDM.”.
 </p>
			<p>The shop serves students from various engineering departments in addition to supporting team competitions and complementing the education students receive at Berkeley. Brien Angelo, Mick Franssen, Jacob Gallego, Dennis Lee, Jesse Lopez, and Scott McCormick collectively manage the shop and have more than 160 years of industry experience between them. </p>
			<p>After training, students are able to use to use the facility for class, research, and competition groups. </p>
			<p><b>How to Gain Access:</b></p>
			<p>Students who wish to access the Machine Shop in Etcheverry must complete three 1-hour sessions and a 2-hour hands-on session. More information about training can be found <a href="http://www.me.berkeley.edu/services/student-machine-shop/shop-training">here</a>  . Trainings typically occur during the first few weeks of each semester and are scheduled on a first-come basis. Those who have completed training prior to the current semester do not need to complete it again. </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
