{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}Richmond Field Station{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Richmond Field Station</h1><br>
                        <p><b>Website: </b><a href="http://www.rfs.berkeley.edu" target="_blank">rfs.berkeley.edu</a></p>
			<p><b>Location: </b>Building 478, 1301 South 46th Street Richmond, CA, 94804-3580</p>
			<p><b>Regular Hours: </b>8:00AM-5PM Monday-Thursday, 8:00am-4pm Friday</p>
			<p><b>After Hours: </b>7-11PM on weekdays and 12-7PM on Saturday</p>
			<p><b>Contact:</b> rsfconf[at]berkeley.edu <br> Assistant Dean of Facilities and Capital Projects: Scott Shackleton (scotts[at]berkeley.edu)</p>
			<p><b>Directions:</b></p>
			<p> Since the Richmond Field Station is off campus, details on how to reach it can be found <a href="http://rfs-operations.berkeley.edu/explore_directions.htm" target="_blank">here</a>.</p>
			<p><b>Descriptions: </b></p>
			<p>The Richmond Field Station (RFS) is an academic facility located outside of the immediate Berkeley campus. The 170-acre property containing 100 acres of uplands with the remainder being marsh/bay lands has been used for large-scale engineering research since 1950. The 500,000 square feet of research space in the RFS includes one of the world’s largest earthquake shaking tables, test facilities for advanced transportation research, a laboratory for the U.S. Environmental Protection Agency, and the Northern Regional Library Facility which archives 7.7 million lesser-used books for 4 other UC campuses. The RFS is accessible to UC Berkeley labs and student groups who do need more space for testing than is allowed on campus. Many of the larger engineering projects done at UC Berkeley are tested at the RFS. </p>

			<p><b>How to Gain Access:</b></p>
			<p>To get a gate card or key, you’ll need to fill out this <a href="http://rfs-operations.berkeley.edu/Key.Gate%20App%20April2012.pdf" target="_blank">form </a>. This will then need to be handed to one of the assistants in building 478 or scanned and emailed to rfsconf[at]berkeley.edu. To receive the gate card/key, you will then need to complete the Working at RFS Training and Safety Module and quiz (more info <a href="http://rfs-env.berkeley.edu/about.html#working" target="_blank"> here</a>). RFS office must also receive confirmation the quiz was completed and passed. Find more details about getting access <a href="http://rfs-operations.berkeley.edu/explore_forms.htm" target="_blank"> here.</a> </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
