{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}Supernode{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Supernode</h1><br>
                        <p><b>Website:</b><a href="http://www.supernode.berkeley.edu/" target="_blank">supernode.berkeley.edu</a></p>
                        <p>Location: 246 Cory Hall</p>
			<p>Hours: 24/7 <a href="http://invent.citris-uc.org/about/calendar">schedule</a> </p>
			<p><b>Contact:</b> supernode[at]lists.berkeley.edu</p>
			<p><b>Directions:</b></p>
			<p>Enter Cory from Hearst Avenue and Supernode can be found in the center of the second floor.</p>
			<p><b>Descriptions: </b></p>
			<p>Located in Cory Hall, Supernode is a student-run makerspace with resources available to  students from generous sponsors. Check out their introductory video <a href="https://www.youtube.com/watch?v=nHt_zhRyLhc">here</a>.  </p>
			<p>The space is equipped with a wide variety of tools and materials such as 3D printers, solder and soldering irons, oscilloscopes, multimeters, logic analyzers, development boards, and parts that are great for robotics or hardware projects. </p>
			<p><b>How to Gain Access:</b></p>
			<p>Supernode is open as long as a member with card access is present. To receive card access to the facility, sign up for a training session <a href="(http://supernode.berkeley.edu/training/">here</a>. Although there is no membership fee, Supernode certainly welcomes donations to restock supplies for the space. </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
