{% extends "/related/spaces/spaces.html" %}
{% block head %}{% endblock %}
{% block title %}Wurster Shop{% endblock %}
{% block content %}

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <h1>Wurster Fabrication Shop</h1><br>
                        <p><b>Website: </b><a href="http://ced.berkeley.edu/resources/fabrication-shop/" target="_blank">ced.berkeley.edu/resources/fabrication-shop/</a></p>
			<p><b>Location: </b>277 Wurster Hall</p>
			<p><b>Regular Hours: </b>11:30am-7:30pm Friday through Tuesday</p>
			<p><b>Contact: </b>Shop Manager Semar Prom (s.prom[at]berkeley.edu)</p>
			<p><b>Directions:</b></p>
			<p>Travel to the southeast side of Berkeley’s campus, near where Bancroft Way and College Avenue intersect and enter Wurster Hall where the college of Environmental Design is located.
			</p>
			<p><b>Descriptions: </b></p>
			<p>Established in 1956 by famed sculptor and wood craftsman James Prestini, the College of Environmental Design’s fabrication shop has 3,600 square feet of working space with soaring windows. The shop features tools for working wood, metal, concrete, and other materials, and additionally features resources to aid students’ three-dimensional designing. The shop is available to CED students, faculty, staff and alumni to work on individual projects if traffic permits.
			</p>
			<p><b>How to Gain Access:</b></p>
			<p>All persons who wish to use the Fabrication Shop must attend an orientation. Sessions are offered a limited number of times at the beginning of each term, and students that fail to attend orientation will not be able to access the lab. Payment of shop fees is mandatory for each semester and is required before access may be granted. Payments can be made at 477 Wurster Hall only using the Cal 1 Card. 
			</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
